.post {
	width: inherit;
	background-color: #f4f4f4;
	font-family: sans-serif;

	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-bottom: 20px;
}
.head-info {
	padding: 16px;
	margin: 0px;
}
.picture {
	width: inherit;
}
user {
	font-size: 2em;
	display: block;
}
date {
	font-size: 0.5em;
	display: block;
	color: #b5b6b6;
}

.foot-info {
	padding: 16px;
	margin: 0px;
	height: 73px;
}
.button {
	border-radius: 100%;
	width: 43px;
	height: 43px;
	border: none;
	padding: 0px;
	margin: 0px;
	display: inline-block;
	background: red;
	cursor: pointer;
}
.like {
	float: left;
}
.like-img {
	width: 25px;
	position: relative;
	top: 1px;
	left: 0px;
}
.like-amount {
	display: inline-block;
}
.comment-img {
	width: 39px;
}
.comment {
	float: right;
}
